<html>
	<head>
		<title>Mcaphui's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Mcaphui's Blog</a></h1>
		</div>

		<div>
			<p>published: 31.03.2019, 16:14</p>
			<h2><a href="">My first post</a></h2>
			<p>In an attempt to not cut a random text to paste, I'm just going to write plenty English. Thanks to Django girls, I've been able to create my first ever website. Yaaaaaaaay!!!!! Go Django girls,go me!!!!</p>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>This is the second post and it is a post!!!!!!</p>
		</div>
	</body>
</html>